<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8">
    <title>Authentication</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="app">Welcome to your dashboard!</div>
    <script src="bundle.js"></script>
  </body>
</html>
